
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

.cards{
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center;
    text-shadow: 2px 2px 4px rgb(171, 166, 166);
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

